<sly
data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
data-sly-call="${templates.placeholder @ isEmpty = !configured}" />

<h1>Carrossel: </h1>
<hr>

<!--/* Get all child resources */-->
<h2>Lista de Continentes e seus Países:</h2>

<div data-sly-list.continentMultifield="${resource.getChildren}" >

     <div data-sly-test="${continentMultifield.name == 'continents'}">
          
         <ul
          class="owl-carousel owl-theme"
          data-sly-list.continent="${continentMultifield.getChildren}">

               <li class="item"><b>${continent.continentName}</b>

                    <h3>Lista de Países:</h3>
               
                    <!--/* Get all child resources */-->
                    <div
                    data-sly-list.countryMultifield="${continent.getChildren}">
                    
                         <!--/* Keep only the countries multifield and iterate over its children */-->
                         <ul
                         data-sly-test="${countryMultifield.name == 'countries'}"
                         data-sly-list.country="${countryMultifield.getChildren}">
                         
                              <div class="sub-item">
                                   <img src="${country.fileReference}" alt="Bandeira do País">
                                   <p><b>País: </b>${country.countryName}</p>
                                   <p>Código do País: ${country.code}</p>
                              </div>
                         </ul>
                    </div>
               </li>
         </ul>
     </div>
 </div>